In [1]:
import pandas as pd

from ddf_utils.str import to_concept_id
from ddf_utils.index import create_index_file

In [2]:
source = '../source/indicator life_expectancy_at_birth.xlsx'

In [3]:
data = pd.read_excel(source)

In [4]:
data

,Life expectancy,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
0,Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,...,52.40,52.80,53.30,53.60,54.00,54.40,54.80,54.90,53.80,52.72
2,Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.60,76.80,77.00,77.20,77.40,77.50,77.70,77.90,78.00,78.10
4,Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.30,75.50,75.70,76.00,76.10,76.20,76.30,76.30,76.40,76.50
5,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,72.40,72.70,71.30,72.80,72.60,72.60,72.70,72.80,72.90,73.00
6,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,84.50,84.60,84.60,84.70,84.70,84.70,84.80,84.80,84.80,84.80
7,Angola,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,26.98,...,56.20,56.70,57.10,57.60,58.10,58.50,58.80,59.20,59.60,60.00
8,Anguilla,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,Antigua and Barbuda,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,33.54,...,75.30,75.50,75.70,75.80,75.90,76.10,76.20,76.30,76.40,76.50
10,Argentina,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,33.20,...,75.20,75.40,75.60,75.80,76.00,76.10,76.20,76.30,76.50,76.70
11,Armenia,34.00,34.00,34.00,34.00,34.00,34.00,34.00,34.00,34.00,...,72.30,72.30,72.60,73.00,73.50,73.90,74.30,74.50,74.70,74.90
12,Aruba,34.42,34.42,34.42,34.42,34.42,34.42,34.42,34.42,34.42,...,74.62,74.77,74.92,75.06,75.19,75.32,75.46,75.59,75.72,75.85
13,Australia,34.05,34.05,34.05,34.05,34.05,34.05,34.05,34.05,34.05,...,81.50,81.60,81.80,82.00,82.20,82.40,82.40,82.30,82.30,82.30
14,Austria,34.40,34.40,34.40,34.40,34.40,34.40,34.40,34.40,34.40,...,80.10,80.40,80.30,80.50,80.70,80.90,81.10,81.20,81.30,81.40
15,Azerbaijan,29.17,29.17,29.17,29.17,29.17,29.17,29.17,29.17,29.17,...,69.10,69.20,69.70,70.10,70.80,71.50,72.10,72.50,72.90,73.30
16,Bahamas,35.18,35.18,35.18,35.18,35.18,35.18,35.18,35.18,35.18,...,71.80,72.20,72.70,72.70,72.60,72.70,72.90,73.50,73.70,73.90
17,Bahrain,30.30,30.30,30.30,30.30,30.30,30.30,30.30,30.30,30.30,...,77.00,77.60,78.20,78.70,78.80,79.00,79.10,79.10,79.10,79.10
18,Bangladesh,25.50,25.50,25.50,25.50,25.50,25.50,25.50,25.50,25.50,...,67.70,68.30,68.60,68.80,69.30,69.40,69.80,70.10,70.40,70.70
19,Barbados,32.12,32.12,32.12,32.12,32.12,32.12,32.12,32.12,32.12,...,75.10,75.30,75.30,75.20,75.20,75.40,75.50,75.60,75.70,75.80
20,Belarus,36.20,36.20,36.20,36.20,36.20,36.20,36.20,36.20,36.20,...,69.70,70.00,70.10,70.20,70.30,70.40,70.60,70.70,71.00,71.30
21,Belgium,40.00,40.01,40.02,40.02,40.03,40.04,40.05,40.06,40.06,...,79.50,79.60,79.80,80.10,80.20,80.30,80.40,80.50,80.50,80.50
22,Belize,26.50,26.50,26.50,26.50,26.50,26.50,26.50,26.50,26.50,...,70.60,70.70,70.90,71.20,71.20,71.30,71.30,71.50,71.70,71.90
23,Benin,31.00,31.00,31.00,31.00,31.00,31.00,31.00,31.00,31.00,...,59.20,59.70,60.40,60.80,61.10,61.40,61.70,62.00,62.30,62.60
24,Bermuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,76.80,77.10,77.50,77.60,78.00,78.30,78.30,78.40,78.50,78.60
25,Bhutan,28.80,28.80,28.80,28.80,28.80,28.80,28.80,28.80,28.80,...,70.30,70.70,70.90,71.40,71.70,71.90,72.20,72.40,72.70,73.00
26,Bolivia,33.00,33.00,33.00,33.00,33.00,33.00,33.00,33.00,33.00,...,70.90,71.20,71.60,71.80,72.10,72.40,72.70,72.90,73.20,73.50
27,Bosnia and Herzegovina,35.10,35.10,35.10,35.10,35.10,35.10,35.10,35.10,35.10,...,77.30,77.50,77.70,77.90,78.20,78.40,78.60,78.70,78.90,79.10
28,Botswana,33.60,33.60,33.60,33.60,33.60,33.60,33.60,33.60,33.60,...,52.40,53.20,54.30,55.60,56.50,56.50,56.90,57.30,58.70,60.13
29,Brazil,32.00,32.00,32.00,32.00,32.00,32.00,32.00,32.00,32.00,...,73.00,73.20,73.40,73.60,73.80,74.00,74.10,74.30,74.40,74.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
230,Trinidad and Tobago,32.90,32.90,32.90,32.90,32.90,32.90,32.90,32.90,32.90,...,71.50,71.70,71.80,71.80,71.90,72.00,72.10,72.30,72.40,72.50
231,Tunisia,28.80,28.80,28.80,28.80,28.80,28.80,28.80,28.80,28.80,...,76.60,76.80,77.00,77.10,77.20,77.40,77.50,77.60,77.60,77.60
232,Turkey,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,35.00,...,77.40,77.80,78.50,78.80,78.80,79.10,78.80,79.10,79.20,79.30
233,Turkmenistan,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,24.00,...,66.80,67.20,67.60,68.10,68.50,68.90,69.20,69.60,70.00,70.40
234,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
235,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
236,Uganda,25.30,25.30,25.30,25.30,25.30,25.30,25.30,25.30,25.30,...,55.30,56.00,57.00,57.80,58.60,59.30,60.10,60.70,61.30,61.91
237,Ukraine,36.60,36.60,36.60,36.60,36.60,36.60,36.60,36.60,36.60,...,67.60,67.80,69.60,70.50,71.10,71.20,71.30,71.30,71.50,71.70
238,United Arab Emirates,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,30.70,...,75.60,75.60,75.60,75.60,75.50,75.50,75.40,75.40,75.40,75.40
239,United Kingdom,38.65,37.35,38.62,37.32,41.44,42.32,43.22,40.05,40.35,...,79.50,79.70,80.00,80.20,80.50,80.70,80.80,80.90,81.00,81.10
240,United States,39.41,39.41,39.41,39.41,39.41,39.41,39.41,39.41,39.41,...,78.10,78.30,78.50,78.80,78.90,79.00,79.10,79.10,79.10,79.10
241,Uruguay,32.90,32.90,32.90,32.90,32.90,32.90,32.90,32.90,32.90,...,75.70,76.00,76.20,76.20,76.30,76.30,76.40,76.60,76.80,77.00
242,USSR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
243,Uzbekistan,26.93,26.93,26.93,26.93,26.93,26.93,26.93,26.93,26.93,...,69.20,69.60,69.90,70.20,70.60,70.90,71.20,71.50,71.80,72.10
244,Wallis et Futuna,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245,Vanuatu,24.30,24.30,24.30,24.30,24.30,24.30,24.30,24.30,24.30,...,63.20,63.40,63.60,63.90,64.10,64.40,64.60,64.70,64.90,65.10
246,Venezuela,32.20,32.20,32.20,32.20,32.20,32.20,32.20,32.20,32.20,...,74.40,74.20,74.40,74.90,74.80,74.60,74.70,74.80,74.80,74.80
247,West Bank and Gaza,32.10,32.10,32.10,32.10,32.10,32.10,32.10,32.10,32.10,...,74.30,74.10,73.80,74.30,74.20,74.20,74.40,74.50,74.60,74.70
248,West Germany,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
249,Western Sahara,34.75,34.75,34.75,34.75,34.75,34.75,34.75,34.75,34.75,...,65.79,66.16,66.51,66.84,67.17,67.47,67.76,68.04,68.30,68.56
250,Vietnam,32.00,32.00,32.00,32.00,32.00,32.00,32.00,32.00,32.00,...,73.80,74.10,74.30,74.50,74.70,74.90,75.00,75.20,75.40,75.60
251,Virgin Islands (U.S.),33.40,33.40,33.40,33.40,33.40,33.40,33.40,33.40,33.40,...,78.86,79.05,79.25,79.46,79.69,79.92,80.15,80.38,80.60,80.82
252,North Yemen (former),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
253,South Yemen (former),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
254,Yemen,23.39,23.39,23.39,23.39,23.39,23.39,23.39,23.39,23.39,...,65.20,65.70,66.20,66.60,66.60,66.70,67.10,67.10,66.00,64.92
255,Yugoslavia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
256,Zambia,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,32.60,...,49.00,51.10,52.30,53.10,53.70,54.70,55.60,56.30,56.70,57.10
257,Zimbabwe,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,33.70,...,46.40,47.30,48.00,49.10,51.60,54.20,55.70,57.00,59.30,61.69
258,Åland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
259,South Sudan,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,26.67,...,55.50,55.60,55.80,56.00,55.90,56.00,56.00,56.10,56.10,56.10

In [7]:
data = data.set_index('Life expectancy')

In [8]:
data.index.name = 'geo'

In [11]:
data = data.stack().reset_index()

In [14]:
cname = 'Life expectancy at birth (years)'
cid = to_concept_id(cname)

In [15]:
data.columns = ['geo', 'time', cid]

In [16]:
data.head()

           geo  time  life_expectancy_at_birth_years
0  Afghanistan  1800                           28.21
1  Afghanistan  1801                           28.20
2  Afghanistan  1802                           28.19
3  Afghanistan  1803                           28.18
4  Afghanistan  1804                           28.17

In [17]:
from ddf_utils import ddf_reader as dr

In [19]:
dr.SEARCH_PATH = '../../../'

In [24]:
geo_upper = data.geo.unique()

In [22]:
geo = dr.ddf_entities('ddf--gapminder--geo_entity_domain')

In [26]:
country = geo['country']

In [28]:
country.columns

Index(['country', 'gwid', 'name', 'geographic_regions', 'income_groups',
       'landlocked', 'g77_and_oecd_countries',
       'geographic_regions_in_4_colors', 'main_religion_2008',
       'gapminder_list', 'alternative_1', 'alternative_2', 'alternative_3',
       'alternative_4_cdiac', 'pandg', 'god_id', 'alt_5', 'upper_case_name',
       'code', 'number', 'arb1', 'arb2', 'arb3', 'arb4', 'arb5', 'arb6',
       'arb7', 'is--country', 'world_4region', 'latitude', 'longitude',
       'arb8'],
      dtype='object')

In [29]:
geo_upper[0]

'Afghanistan'

In [31]:
'Afghanistan' in country[['gapminder_list']].values

True

In [39]:
mapping = {}

for g in geo_upper:
    m0 = country['name'] == g
    m1 = country['gapminder_list'] == g
    
    m = m0 | m1
    filtered = country[m]
    if len(filtered) > 0:
        mapping[g] = filtered['country'].values[0]
    else:
        print('not found: ', g)

In [40]:
mapping

{'Afghanistan': 'afg',
 'Albania': 'alb',
 'Algeria': 'dza',
 'American Samoa': 'asm',
 'Andorra': 'and',
 'Angola': 'ago',
 'Antigua and Barbuda': 'atg',
 'Argentina': 'arg',
 'Armenia': 'arm',
 'Aruba': 'abw',
 'Australia': 'aus',
 'Austria': 'aut',
 'Azerbaijan': 'aze',
 'Bahamas': 'bhs',
 'Bahrain': 'bhr',
 'Bangladesh': 'bgd',
 'Barbados': 'brb',
 'Belarus': 'blr',
 'Belgium': 'bel',
 'Belize': 'blz',
 'Benin': 'ben',
 'Bermuda': 'bmu',
 'Bhutan': 'btn',
 'Bolivia': 'bol',
 'Bosnia and Herzegovina': 'bih',
 'Botswana': 'bwa',
 'Brazil': 'bra',
 'Brunei': 'brn',
 'Bulgaria': 'bgr',
 'Burkina Faso': 'bfa',
 'Burundi': 'bdi',
 'Cambodia': 'khm',
 'Cameroon': 'cmr',
 'Canada': 'can',
 'Cape Verde': 'cpv',
 'Central African Republic': 'caf',
 'Chad': 'tcd',
 'Channel Islands': 'chanisl',
 'Chile': 'chl',
 'China': 'chn',
 'Colombia': 'col',
 'Comoros': 'com',
 'Congo, Dem. Rep.': 'cod',
 'Congo, Rep.': 'cog',
 'Costa Rica': 'cri',
 "Cote d'Ivoire": 'civ',
 'Croatia': 'hrv',
 'Cuba': 'cub',
 'Cyprus': 'cyp',
 'Czech Republic': 'cze',
 'Denmark': 'dnk',
 'Djibouti': 'dji',
 'Dominica': 'dma',
 'Dominican Republic': 'dom',
 'Ecuador': 'ecu',
 'Egypt': 'egy',
 'El Salvador': 'slv',
 'Equatorial Guinea': 'gnq',
 'Eritrea': 'eri',
 'Estonia': 'est',
 'Ethiopia': 'eth',
 'Fiji': 'fji',
 'Finland': 'fin',
 'France': 'fra',
 'French Guiana': 'guf',
 'French Polynesia': 'pyf',
 'Gabon': 'gab',
 'Gambia': 'gmb',
 'Georgia': 'geo',
 'Germany': 'deu',
 'Ghana': 'gha',
 'Greece': 'grc',
 'Greenland': 'grl',
 'Grenada': 'grd',
 'Guadeloupe': 'glp',
 'Guam': 'gum',
 'Guatemala': 'gtm',
 'Guinea': 'gin',
 'Guinea-Bissau': 'gnb',
 'Guyana': 'guy',
 'Haiti': 'hti',
 'Honduras': 'hnd',
 'Hong Kong, China': 'hkg',
 'Hungary': 'hun',
 'Iceland': 'isl',
 'India': 'ind',
 'Indonesia': 'idn',
 'Iran': 'irn',
 'Iraq': 'irq',
 'Ireland': 'irl',
 'Israel': 'isr',
 'Italy': 'ita',
 'Jamaica': 'jam',
 'Japan': 'jpn',
 'Jordan': 'jor',
 'Kazakhstan': 'kaz',
 'Kenya': 'ken',
 'Kiribati': 'kir',
 'Kuwait': 'kwt',
 'Kyrgyz Republic': 'kgz',
 'Lao': 'lao',
 'Latvia': 'lva',
 'Lebanon': 'lbn',
 'Lesotho': 'lso',
 'Liberia': 'lbr',
 'Libya': 'lby',
 'Lithuania': 'ltu',
 'Luxembourg': 'lux',
 'Macao, China': 'mac',
 'Macedonia, FYR': 'mkd',
 'Madagascar': 'mdg',
 'Malawi': 'mwi',
 'Malaysia': 'mys',
 'Maldives': 'mdv',
 'Mali': 'mli',
 'Malta': 'mlt',
 'Marshall Islands': 'mhl',
 'Martinique': 'mtq',
 'Mauritania': 'mrt',
 'Mauritius': 'mus',
 'Mayotte': 'myt',
 'Mexico': 'mex',
 'Micronesia, Fed. Sts.': 'fsm',
 'Moldova': 'mda',
 'Mongolia': 'mng',
 'Montenegro': 'mne',
 'Morocco': 'mar',
 'Mozambique': 'moz',
 'Myanmar': 'mmr',
 'Namibia': 'nam',
 'Nepal': 'npl',
 'Netherlands': 'nld',
 'Netherlands Antilles': 'ant',
 'New Caledonia': 'ncl',
 'New Zealand': 'nzl',
 'Nicaragua': 'nic',
 'Niger': 'ner',
 'Nigeria': 'nga',
 'North Korea': 'prk',
 'Northern Mariana Islands': 'mnp',
 'Norway': 'nor',
 'Oman': 'omn',
 'Pakistan': 'pak',
 'Panama': 'pan',
 'Papua New Guinea': 'png',
 'Paraguay': 'pry',
 'Peru': 'per',
 'Philippines': 'phl',
 'Poland': 'pol',
 'Portugal': 'prt',
 'Puerto Rico': 'pri',
 'Qatar': 'qat',
 'Reunion': 'reu',
 'Romania': 'rou',
 'Russia': 'rus',
 'Rwanda': 'rwa',
 'Samoa': 'wsm',
 'Sao Tome and Principe': 'stp',
 'Saudi Arabia': 'sau',
 'Senegal': 'sen',
 'Serbia': 'srb',
 'Seychelles': 'syc',
 'Sierra Leone': 'sle',
 'Singapore': 'sgp',
 'Slovak Republic': 'svk',
 'Slovenia': 'svn',
 'Solomon Islands': 'slb',
 'Somalia': 'som',
 'South Africa': 'zaf',
 'South Korea': 'kor',
 'South Sudan': 'ssd',
 'Spain': 'esp',
 'Sri Lanka': 'lka',
 'St. Lucia': 'lca',
 'St. Vincent and the Grenadines': 'vct',
 'Sudan': 'sdn',
 'Suriname': 'sur',
 'Swaziland': 'swz',
 'Sweden': 'swe',
 'Switzerland': 'che',
 'Syria': 'syr',
 'Taiwan': 'twn',
 'Tajikistan': 'tjk',
 'Tanzania': 'tza',
 'Thailand': 'tha',
 'Timor-Leste': 'tls',
 'Togo': 'tgo',
 'Tokelau': 'tkl',
 'Tonga': 'ton',
 'Trinidad and Tobago': 'tto',
 'Tunisia': 'tun',
 'Turkey': 'tur',
 'Turkmenistan': 'tkm',
 'Uganda': 'uga',
 'Ukraine': 'ukr',
 'United Arab Emirates': 'are',
 'United Kingdom': 'gbr',
 'United States': 'usa',
 'Uruguay': 'ury',
 'Uzbekistan': 'uzb',
 'Vanuatu': 'vut',
 'Venezuela': 'ven',
 'Vietnam': 'vnm',
 'Virgin Islands (U.S.)': 'vir',
 'West Bank and Gaza': 'pse',
 'Western Sahara': 'esh',
 'Yemen': 'yem',
 'Zambia': 'zmb',
 'Zimbabwe': 'zwe',
 'Åland': 'ala'}

In [42]:
data.geo = data.geo.map(lambda x: mapping[x])

In [55]:
data.tail()

       geo  time  life_expectancy_at_birth_years
43852  ssd  2012                            56.0
43853  ssd  2013                            56.0
43854  ssd  2014                            56.1
43855  ssd  2015                            56.1
43856  ssd  2016                            56.1

In [56]:
data.to_csv('../../ddf--datapoints--life_expectancy_at_birth_years--by--geo--time.csv', index=False, float_format='%.15g')

In [78]:
concepts = ['Name', 'Time', cname, 'Domain', 'Country', 'Indicator URL']
ids = ['name', 'time', cid, 'domain', 'geo', 'indicator_url']

cdf = pd.DataFrame({'concept': ids, 'name': concepts})

In [79]:
cdf['concept_type'] = 'string'

In [80]:
cdf.loc[1, 'concept_type'] = 'time'
cdf.loc[2, 'concept_type'] = 'measure'
cdf.loc[4, 'concept_type'] = 'entity_domain'

In [85]:
cdf.loc[2, 'indicator_url'] = 'https://github.com/open-numbers/ddf--gapminder--life_expectancy'

In [86]:
cdf.to_csv('../../ddf--concepts.csv', index=False)

In [62]:
geo_df = pd.DataFrame.from_records(mapping, index=[0])

In [64]:
geo_df = geo_df.T

In [65]:
geo_df = geo_df.reset_index()

In [67]:
geo_df.columns = ['name', 'geo']

In [71]:
geo_df.to_csv('../../ddf--entities--geo.csv', index=False)

In [84]:
create_index_file('../../')

,key,value,file
0,concept,name,ddf--concepts.csv
1,concept,concept_type,ddf--concepts.csv
2,concept,indicator_url,ddf--concepts.csv
3,"geo,time",life_expectancy_at_birth_years,ddf--datapoints--life_expectancy_at_birth_year...
4,geo,name,ddf--entities--geo.csv